<div class="vi-boneEditor">
    {% set readOnly = "" %}
    {% if boneParams.readOnly %}
        {% set readOnly = 'readonly="readonly"' %}
    {% endif %}
    {% if boneParams.languages %}
        {% for lang in boneParams.languages %}
            <div class="vi-languageWrapper js_viur_bones_text_languageWrapper" data-name="{{ boneName }}"
                 data-lang="{{ lang }}">
                <textarea class="textarea vi-textarea" name="{{ boneName }}.{{ lang }}">
                    {%- if boneValue -%}{{ boneValue.get(lang,"") }}{%- endif -%}
                </textarea>
                <div class="textarea vi-textarea vi-textBone-preview" style="display: none">
                    {% if boneValue %}{{ boneValue.get(lang,"") }}{% endif %}
                </div>
                <button class="btn textedit icon btn-vEdit" type="button">Text bearbeiten</button>
            </div>
        {% endfor %}

        <select class="select js_viur_bones_text_languageSelector" name="{{ boneName }}_language_selector"
                data-name="{{ boneName }}">
            {% for lang in boneParams.languages %}
                <option value="{{ lang }}">{{ lang }}</option>
            {% endfor %}
        </select>
    {% else %}
        <textarea class="textarea vi-textarea" name="{{ boneName }}">{% if boneValue %}{{ boneValue }}{% endif %}</textarea>
        <div class="textarea vi-textarea vi-textBone-preview" style="display: none">
        </div>
        <button class="btn textedit icon btn-vEdit" type="button">Text bearbeiten</button>
    {% endif %}



</div>