<div id="vi_0_db_produkt_edit_Details_bn_{{ boneName }}" class="vi-boneEditor inputGroup">
    {% if boneParams.date and boneParams.time %}
        {# Current Webbrowsers dont support a datetime input yet so we'll split it up until they do #}
        <input type="date" value="{% if boneValue %}{{ boneValue.strftime("%Y-%m-%d") }}{% endif %}"
               name="{{ boneName }}-date" {% if boneParams.readOnly %}disabled="disabled"{% endif %}>
        <input type="time" value="{% if boneValue %}{{ boneValue.strftime("%H:%M:%S") }}{% endif %}"
               name="{{ boneName }}-time" {% if boneParams.readOnly %}disabled="disabled"{% endif %}>
        <input type="hidden" value="{% if boneValue %}{{ boneValue.strftime("%Y-%M-%d") }}{% endif %}"
               name="{{ boneName }}" class="js_viur_bones_date_doubleinput">
    {% elif boneParams.date %}
        <input type="date" value="{% if boneValue %}{{ boneValue.strftime("%Y-%m-%d") }}{% endif %}"
               name="{{ boneName }}" {% if boneParams.readOnly %}disabled="disabled"{% endif %}>
    {% elif boneParams.time %}
        <input type="date" value="{% if boneValue %}{{ boneValue.strftime("%Y-%m-%d") }}{% endif %}"
               name="{{ boneName }}" {% if boneParams.readOnly %}disabled="disabled"{% endif %}>
    {% else %}
        <!-- You messed up this datebone somehow -->
    {% endif %}


</div>