<div class="vi-bone vi-stringBone vi-stringBone-v{{ boneName }}">
    <label class="label vi-label vi-stringLabel vi-stringLabel-v{{ boneName }} {% if boneParams.required %} is-required{% endif %} {% if boneWasInvalid %} is-invalid{% endif %}"
           for="vi_0_db_produkt_edit_Allgemein_bn_name">{{ boneParams.descr }}</label>
    {{ languageSelector }}
    {{ editWidget }}

</div>