        <fieldset class="vi-set vi-set-v{{ categoryClassName }} is-inactive" name="{{ categoryName }}">
            <legend class="vi-legend">{{ categoryName }}</legend>

            <section class="vi-section">

                {{ categoryContent }}

            </section>
        </fieldset>